@import url('https://fonts.googleapis.com/css?family=Special%20Gothic%20Expanded%20One:700|Space%20Mono:400');

:root {
  --color-01: hsl(0, 0%, 0%);
  --color-02: hsl(0, 0%, 30%);
  --color-03: hsl(0, 0%, 60%);
  --color-04: hsl(0, 0%, 90%);
  --color-05: hsl(0, 100%, 55%);
  --space-xxs: clamp(0.25rem, 0.25rem + 0.2vw, 0.5rem);
  --space-xs: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
  --space-sm: clamp(0.75rem, 0.75rem + 0.8vw, 1.25rem);
  --space-md: clamp(1rem, 1rem + 1vw, 2rem);
  --space-lg: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
  --space-xl: clamp(2rem, 2rem + 2vw, 4rem);
  --space-xxl: clamp(3rem, 3rem + 3vw, 6rem --gap-sm: var(--space-sm));
  --gap-sm: var(--space-sm);
  --gap-md: var(--space-md);
  --gap-lg: var(--space-lg);
  --padding-sm: var(--space-sm);
  --padding-md: var(--space-md);
  --padding-lg: var(--space-lg);
  --scrollbar-width: 15px;
  --scrollbar-track-background: var(--color-01);
  --scrollbar-thumb-background: hsl(from var(--color-01) h s calc(l + 10));
  --scrollbar-thumb-hover-background: var(--accent);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body,
html {
  font-size: 100%;
  font-family: 'Space Mono';
  font-weight: 400;
  color: var(--color-01);
  background-color: var(--color-01);
  scroll-behavior: smooth;
  scrollbar-width: var(--space-sm);
  scrollbar-color: var(--color-05) var(--color-01);
}

::-webkit-scrollbar {
  width: var(--space-sm);
  background-color: var(--color-01);
}

::-webkit-scrollbar-track {
  background-color: var(--color-01);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-05);
  border-radius: 5px;
  border: 10px solid var(--color-05);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-04);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-weight: 700;
  line-height: 0.85;
}

h1 {
  font-size: clamp(3rem, 12vw, 9rem);
}

h2 {
  font-size: clamp(2rem, 10vw, 8rem);
}

h3 {
  font-size: clamp(1.75rem, 8vw, 6rem);
}

h4 {
  font-size: clamp(1.5rem, 6vw, 4rem);
}

h5 {
  font-size: clamp(1.25rem, 2vw, 3rem);
}

h6,
p {
  font-size: clamp(1rem, 1.25vw, 1.5rem);
}

a {
  color: inherit;
  font-size: clamp(0.75rem, 1.5vw, 1.25rem);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-04);
}

/* Elements */
hr {
  background-color: var(--color-04);
  border: none;
  height: 5px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--color-01);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin-left: var(--space-sm);
  padding: 8px 12px;
  border-bottom: 1px solid var(--color-01);
  color: inherit;
}

li:hover {
  color: var(--color-04);
  border-bottom: 1px solid var(--color-04);
}

/* CTA */
button {
  width: fit-content;
  height: fit-content;
  padding: var(--space-xs);
  border-radius: 9999px;
  border: 5px solid var(--color-01);
  background: transparent;
  color: var(--color-01);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

button:hover {
  border: 5px solid var(--color-04);
  background: var(--color-04);
  color: var(--color-05);
}

/* === Content Row === */
header {
  position: fixed;
  background: rgba(255, 255, 255, 0.0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px 20px 0px 0px;
  top: var(--space-sm);
  left: var(--space-sm);
  right: var(--padding-sm);
  padding: var(--space-xxs) var(--space-sm);
  border-bottom: 1px solid var(--color-01);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

main {
  position: relative;
  padding: var(--padding-sm);
}

.container {
  background-color: var(--color-05);
  border-radius: 20px;
}

section {
  display: flex;
  min-height: 100vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  padding: var(--padding-sm);
}