/* === Hero === */
#hero {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - var(--space-lg));
    text-align: left;
    z-index: 0;
}

.hero-l,
.hero-r {
    padding: var(--padding-sm);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* == Hero Buttons == */
.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-buttons button {
    width: 45%;
}

.hero-r img {
    border-radius: 20px;
    filter: grayscale(100%);
}

/* === Rules === */
#rules {
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-01);
    color: var(--color-04);
    padding: var(--padding-lg);
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-sm);
    width: 100%;
}

.card-title {
    display: flex;
    gap: var(--space-xs);
    color: var(--color-05);
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--color-04);
    padding: var(--padding-sm);
    color: var(--color-01);
    border-radius: 20px;
}

.card li:hover {
    color: var(--color-05);
    border-bottom: 1px solid var(--color-05);
}

#rules button {
    background: transparent;
    color: var(--color-04);
    border: 5px solid var(--color-04);
}

#rules button:hover {
    background: var(--color-05);
    color: var(--color-01);
    border: 5px solid var(--color-05);
}

/* History*/
#history {
    background-color: var(--color-04);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--padding-sm);
    text-align: left;
    z-index: 0;
}

#history button {
    background: transparent;
    color: var(--color-01);
    border: 5px solid var(--color-01);
}

#history button:hover {
    background: var(--color-05);
    color: var(--color-01);
    border: 5px solid var(--color-05);
}